<%- include("partials/header.ejs") %>
<h1>Contact me</h1>
<h2>My name: White Snow</h2>
<h2>My adress: Georgo City</h2>
<h2>My phone: +91 870700xxxx</h2>
<h2>My email: mauryaavi7770@gmail.com</h2>
<%- include("partials/footer.ejs") %>