<%- include("partials/header.ejs") %>
<h1>About Us</h1>
<p>
    Greetings, fellow writers and creators!
</p>


<p>
    Whether you're a seasoned writer, an aspiring blogger, or someone with a unique perspective to share, we invite you to join us on this journey. Explore, create, and connect with like-minded individuals who believe in the power of words.
</p>
<br><br>
<%- include("partials/footer.ejs") %>